# R specific
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# R CMD check
/*.Rcheck/
*.tar.gz

# renv
renv/library/
renv/staging/

# Misc
rsconnect/
.DS_Store
Thumbs.db
docs
/.quarto/
vignettes/*_cache/
vignettes/*_files/
.posit/
_freeze/
_includes/
/doc/
/Meta/
